*{
    font-family: 'Raleway', sans-serif;
}

#form-check{
   
}
#container{
    height: 100%;
    width: 100%;
    left: 0;
    top: 0;
    right: 0;
    position: flex;
    min-height: 85%;  /* Fallback for browsers do NOT support vh unit */
    min-height: 85vh; /* These two lines are counted as one :-)       */
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;
  
}

#middle{
  
    
}


#double{
    text-decoration: underline;
    text-decoration-style:double;
}